h1{font-family: "Cursive";
font-size: 30px;
text-align: center;
color: darkred;}

h2{font-family: "Cursive";
font-size: 20px;
text-align: center;
color: darkred;}

h3{font-family: "Cursive";
font-size: 20px;
text-align: center;
color: darkred;}

h4{font-family: "Cursive";
font-size: 20px;
text-align: center;
color: darkred;}

